@model WeatherDataEntry


<h4>Weather data recived from <a target="_blank" href="https://openweathermap.org/api">https://openweathermap.org/api</a> for @Model.MeasurementDate</h4>
<div>Temperature: @Model.Temperature</div>
<div>City Name: @Model.CityName</div>
<div>Temperature: @Model.Temperature</div>
<div>Weather: @Model.MainWeather</div>
<div>Cloudiness: @Model.Cloudiness</div>
<div>Pressure: @Model.Pressure</div>
<div>Humidity: @Model.Humidity</div>
<br />
<div>Data has been posted to Weather History API</div>